<div class="p-6 bg-blue-200 mx-7 rounded-lg mt-7">
<p class="text-2xl font-bold">About Us</p>
<div class="flex mt-4">
    <div class="w-1/2 h-96">
        <img class="w-full h-full rounded-lg" src="https://static.vecteezy.com/system/resources/thumbnails/008/024/321/small_2x/silhouette-of-palm-trees-beautiful-sunset-on-the-tropical-sea-beach-background-for-travel-in-holiday-relax-time-photo.jpg"/>
    </div>

    <div class="w-1/2 p-3">
        <p><span class="text-xl font-bold italic">BonVoyage</span> is India's leading online travel company that delivers tailor-made international holidays. Pickyourtrail aims to change the customer experience so they can explore destinations at their own pace with completely customized tour packages. Our unique matching algorithm and price comparison engine ensures that travellers build their itinerary completely suited to their tastes and at the best online prices. Pickyourtrail's intelligent platform helps save time and effort, without having to wait for a travel agent's quote, yet letting you have the fun of planning your own trip!
Over the years, we have helped more than 10000+ travellers from across 14 countries explore their dream international holiday destinations. Pickyourtrail has the highest Five-star rating on Facebook by travellers, making us a top rated trip planner in India. We are an Amadeus Next incubated start-up and one of the top 6 finalists of the prestigious APAC Travel Innovation Summit award.</p>
    </div>
</div>
</div>